<div name="editorForm" ng-form="form">
    <label>Name</label>
    <div class="value">
        <input type="text" required ng-model="ctrl.editing.name" />
    </div>

    <label>Age</label>
    <div class="value">
        <input type="number" required ng-model="ctrl.editing.age" />
    </div>

    <div class="actions">
        <button ng-click="ctrl.onClickOK()" class="material-icons" ng-disabled="editorForm.$invalid">check</button>
        <button ng-click="ctrl.onClickCancel()" class="material-icons">close</button>
    </div>
</div>
