@charset "UTF-8";
body, div, span, a, h1, h2, h3, h4, h5, i, input[type=text], input[type=number] {
  font-size: 100%;
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

html {
  position: relative;
  height: 100%;
  width: 100%; }

body {
  font-family: Verdana, Roboto, "Droid Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative; }

[ng-cloak] {
  display: none !important; }

#main-view {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 60%; }
  #main-view h1 {
    text-align: center;
    background-color: #0094ff;
    color: #fff;
    padding: 1rem;
    font-size: 120%; }
  #main-view .content {
    max-width: 200px;
    margin: 0 auto;
    margin-top: 1rem; }
    #main-view .content label {
      color: #888;
      display: block;
      margin-bottom: 0.3rem; }
    #main-view .content .value {
      font-size: 150%;
      margin-bottom: 1rem; }
      #main-view .content .value input {
        width: 100%; }
    #main-view .content .actions {
      display: block;
      width: 200px;
      margin-top: 1rem;
      text-align: center; }
      #main-view .content .actions button {
        width: 56px;
        height: 56px;
        border: none;
        background-color: #0094ff;
        color: #fff;
        -moz-border-radius: 28px;
        -webkit-border-radius: 28px;
        border-radius: 28px;
        cursor: pointer; }
        #main-view .content .actions button[disabled] {
          background-color: #ccc;
          cursor: default; }

#object-view {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 60%;
  overflow: auto;
  background-color: #444; }
  #object-view pre {
    font-size: 120%;
    margin: 0;
    padding: 0.3rem 1rem;
    color: #ccc; }
    #object-view pre.current {
      background-color: #666; }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 85%;
  height: 48px;
  line-height: 48px;
  padding: 0 14px;
  background-color: #444;
  opacity: 0.5; }
  footer a {
    color: #ccc; }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(fonts/MaterialIcons-Regular.woff2) format("woff2"), url(fonts/MaterialIcons-Regular.woff) format("woff"), url(fonts/MaterialIcons-Regular.ttf) format("truetype"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: white; }

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); }

