
body, div, span, a, h1, h2, h3, h4, h5, i, input[type=text], input[type=number] {
    font-size: 100%;
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}


html {
    position: relative;
    height: 100%;
    width: 100%;
}

body {
    font-family: Verdana, Roboto, "Droid Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

[ng-cloak] {
    display: none !important;
}

#main-view {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 60%;

    h1 {
        text-align: center;
        background-color: #0094ff;
        color: #fff;
        padding: 1rem;
        font-size: 120%;
    }

    .content {
        max-width: 200px;
        margin: 0 auto;
        margin-top: 1rem;

        label {
            color: #888;
            display: block;
            margin-bottom: 0.3rem;
        }

        .value {
            font-size: 150%;
            margin-bottom: 1rem;

            input {
                width: 100%;
            }
        }

        .actions {
            display: block;
            width: 200px;
            margin-top: 1rem;
            text-align: center;

            button {
                width: 56px;
                height: 56px;
                border: none;
                background-color: #0094ff;
                color: #fff;
                -moz-border-radius: 28px;
                -webkit-border-radius: 28px;
                border-radius: 28px;
                cursor: pointer;

                &[disabled] {
                    background-color: #ccc;
                    cursor: default;
                }
            }
        }
    }
}

#object-view {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 60%;
    overflow: auto;
    background-color: #444;

    pre {
        font-size: 120%;
        margin: 0;
        padding: 0.3rem 1rem;
        color: #ccc;

        &.current {
            background-color: #666;
        }
    }
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 85%;
    height: 48px;
    line-height: 48px;
    padding: 0 14px;
    background-color: #444;
    opacity: 0.5;

    a {
        color: #ccc;
    }
}

@import "md-iconfont.scss";
